@import url(root.css);

* {
    font-family: system-ui, sans-serif;
    margin: 0;
}

html {
    background-color: var(--surface-base);
}

a img {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a:hover img {
    opacity: 0.8;
    transform: scale(1.02) rotate(-0.01turn);
    transform: translateY(-2px);
}

nav {
    margin: 0 1rem;
}

nav ul {
    background-color: var(--brand-tint);
    border-radius: 1rem;
    margin: 0.25rem 0;
    padding: 0.5rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

nav ul li {
    display: flex;
    justify-content: flex-start;
    margin-right: 1rem;
}

nav ul li a {
    color: var(--content-default);
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
    border-color: var(--border-strong);;
    padding: 0.5em 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background-color: var(--surface-raised);
    transform: translateY(-2px);
}

.page-title {
    color: var(--content-default);

    font-weight: bolder;
    margin: 0.5rem 1rem;
}

.content-block {
    background-color: var(--surface-raised);
    border-color: var(--border-default);
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;

    margin: 1rem;
    padding: 1rem 1.5rem;
}

.content-title {
    color: var(--content-default);
    font-weight: bolder;

    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.content-block>p {
    color: var(--content-default);
}

.content-general {
    padding-block: 0.5rem;
    color: var(--content-default);
}

.content-general p {
    padding-left: 1rem;
}

.content-general-header {
    display: inline-flex;
    align-items: center;
}

.content-general-header h3 {
    padding-left: 0.5em;
    padding-bottom: 0.5rem;
    text-align: left;
}

.content-general-header img {
    padding-left: 0.5rem;
    height: 4em;
    width: 4em;
    text-align: left;
    vertical-align: middle;
}

.footer-block {
    margin: 1rem;
    color: var(--content-default)
}

.footer-block div {
    font-size: x-small;
    text-align: right;
    align-content: center;
}